body{
	padding: 0;
	margin: 0;
}

.wrapper{
	border: solid 1px red;
	height: 800px;
}
.content{
	margin: 150px auto;
	width: 300px;
}

.pbody{
	position: absolute;
	width: 200px;
	height: 340px;
	border: solid 2px black;
	border-radius: 90px;
	background: rgb(249,217,70);
}
/*头发样式*/
.pbody .toufa1{
	width: 160px;
	height: 160px;
	border-top: solid 2px black;
	background: black;
	border-radius: 80px;
	transform: rotateZ(60deg);
	position: absolute;
	top: -40px;
	left: -40px;
	z-index: -1;
}
.pbody .toufa1:after{
	content: "";
	width: 160px;
	height: 160px;
	border-top: solid 2px black;
	border-radius: 80px;
	transform: rotateZ(0deg);
	position: absolute;
	top: 8px;
	background: #fff;
}

.pbody .toufa2{
	width: 160px;
	height: 160px;
	border-top: solid 2px black;
	background: black;
	border-radius: 80px;
	transform: rotateZ(60deg);
	position: absolute;
	top: -20px;
	left: -40px;
	z-index: -1;
}
.pbody .toufa2:after{
	content: "";
	width: 160px;
	height: 160px;
	border-top: solid 2px black;
	border-radius: 80px;
	transform: rotateZ(0deg);
	position: absolute;
	top: 8px;
	background: #fff;
}




/*眼睛样式*/
.pbody .yanjindai{
	width: 100%;
	height: 10px;
	background: black;
	position: absolute;
	top: 80px;
}

.pbody .yjleft{
	width: 50px;
	height: 50px;
	border: solid 3px black;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	left: 45px;
	top: 55px;
}
.pbody .yjright{
	width: 50px;
	height: 50px;
	border: solid 3px black;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	right: 45px;
	top: 55px;
}
.pbody .yz{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: black;
	position: relative;
	left: 50%;
	top: 50%;
	margin-top: -15px;
	margin-left: -15px;
}	
.pbody .yz:after{
	content: " ";
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	right: 2px;
	top: 6px;
}

/*嘴样式*/
.pbody .zui{
	width: 50px;
	height: 30px;
	border: solid 3px black;
	position: absolute;
	background: #fff;
	left: 50%;
	margin-left: -20px;
	top: 140px;
	border-bottom-left-radius: 20px;
	transform: rotateZ(-30deg);
}
.pbody .zui:after{
	content: "";
	width: 66px;
	height: 30px;
	background: #fff;
	position: absolute;
	border-bottom: solid 3px black;
	left: 0px;
	bottom: 11px;
	background: rgb(249,217,70);
	transform: rotateZ(30deg);
}
	
/*胳膊样式*/
.pbody .gb{
	width: 50px;
	height: 50px;
	background: rgb(249,217,70);
	position: absolute;
	bottom: 100px;
	z-index: -1;
}

.pbody .gb:after{
	content: "";
	width: 20px;
	height: 20px;
	border: solid 2px black;
	position: absolute;
	
	top: 16px;
	border-radius: 5px;
	background: #fff;
}

.pbody .gbleft{
	border-top: solid 2px black;
	border-left: solid 2px black;
	border-top-left-radius: 16px;
	transform: rotateZ(-45deg);
	left: -25px;
}
.pbody .gbleft:after{
	left:16px;
}
.pbody .gbright{
	border-top: solid 2px black;
	border-right: solid 2px black;
	border-top-right-radius: 16px;
	transform: rotateZ(45deg);
	right: -25px;
}
.pbody .gbright:after{
	right:16px;
}
	


/*裤子样式*/
.pbody .guzi{
	width: 200px;
	height: 100px;
	border: solid 2px black;
	position: absolute;
	left: -2px;
	bottom: -2px;
	border-bottom-left-radius: 90px;
	border-bottom-right-radius: 90px;
	background: rgb(32,116,160);
}
.pbody .guzi1{
	width: 120px;
	height: 40px;
	border: solid 2px black;
	border-bottom: none;
	position: absolute;
	left: 50%;
	margin-left: -60px;
	bottom: 100px;
	z-index: 2;
	background: rgb(32,116,160);
}
.pbody .dazi{
	border: solid 2px black;
	width: 70px;
	height: 10px;
	position: absolute;
	z-index: 3;
	background: rgb(32,116,160);
	bottom: 140px;
}
.pbody .dazileft{
	left: -14px;
	transform: rotateZ(40deg);
	border-bottom-left-radius: 12px;
}
.pbody .dazileft:after{
	content: "";
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 60px;
	top: 2px;
	
}
.pbody .daziright{
	right: -14px;
	transform: rotateZ(-40deg);
	border-bottom-right-radius: 12px;
}
.pbody .daziright:after{
	content: "";
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: black;
	position: absolute;
	right: 60px;
	top: 2px;
}
.pbody .koudai{
	width: 50px;
	height: 40px;
	border: solid 2px black;
	position: absolute;
	left: 75px;
	bottom: 70px;
	z-index: 10;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.pbody .linebottom{
	width: 3px;
	height: 30px;
	background: black;
	position: absolute;
	bottom: 0px;
	left: 99px;
}
.pbody .lineleft{
	width: 20px;
	height: 20px;
	border-bottom: solid 2px black;
	border-right: solid 2px black;
	position: absolute;
	left: 0px;
	bottom: 70px;
	border-bottom-right-radius:20px ;
	
}
.pbody .lineright{
	width: 20px;
	height: 20px;
	border-bottom: solid 2px black;
	border-left: solid 2px black;
	position: absolute;
	right: 0px;
	bottom: 70px;
	border-bottom-left-radius:20px ;
}


/*腿样式*/
.pbody .tuileft{
	width: 26px;
	height: 40px;
	position: absolute;
	bottom: -40px;
	left: 70px;
	z-index: -1;
	background: black;
	border-bottom-right-radius: 5px;
}
.pbody .tuileft:after{
	content: "";
	width: 30px;
	height: 26px;
	background: black;
	position: absolute;
	left: -30px;
	bottom: 0px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}


.pbody .tuiright{
	width: 26px;
	height: 40px;
	position: absolute;
	bottom: -40px;
	right: 70px;
	z-index: -1;
	background: black;
	border-bottom-left-radius: 5px;
}
.pbody .tuiright:after{
	content: "";
	width: 30px;
	height: 26px;
	background: black;
	position: absolute;
	right: -30px;
	bottom: 0px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}































